
.full{
    display:flex;

}
img {
    height: 100vh;
    width: 70em;
    object-fit: cover;
}


/* .Form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0em;
    padding-left: 5em;
    margin-right: 4em;
    border-left: solid;
    border-width: 1em;
    border-color: rgb(227, 220, 231);
} */
/* .Form-container input{
    height: 100px;
    width: 300px;
    margin: 1em;
    border: none;
    border-bottom-color: rgb(173, 88, 239);
    border-bottom-width: 3px; */
/* } */
/* .Form-container input[type="text"]{
    font-size: 24px;
}
.Form-container input[type="text"]{
    font-size: 24px;
}
.Form-container input[type="password"]{
    font-size: 24px;
}
 */



/* .Form-container ::placeholder{
   
    color: rgb(173, 88, 239);
    opacity: 1;
    font-size: 1em;
    padding-bottom: 9em;
} */
/* .Form-container h1{
    margin-left: -2.7em;
    font-weight: 400;
    color: rgb(173, 88, 239);
}
.Form-container button{
    padding: 1em 3em;
    margin-top: 1em;
    margin-left: -2.4em;
    border-radius: 50px;
    background-color: rgb(173, 88, 239);
    color: aliceblue;
    font-size: 25px;
    border:none;

} */
/* .Form-container nav{
    margin-top: 2.5em;
    margin-left: -2.5em;
    font-size: 20px;
    border-bottom-style: solid;
    border-bottom-color: rgb(173, 88, 239);
    border-bottom-width: 2px;
}
.Form-container a{
    text-decoration: none;
    color:rgb(177, 99, 205);
} */
/* #forgot{
    margin-left: 4em; */

/* } */
/* #forgotemail {
    margin-left: 4em;
    color: rgb(115, 115, 115);
    font-size: 15px;
}
#formforgot{
    padding-left: 0em;
    
} */
.Logbutton{
    text-decoration: none;
    color: white;
    background-color: rgb(173,88,239);
    font-size: 30px;
    padding: 1em 3em;
    border-radius: 50px;
    margin-top:15px;
    margin-left: 165px

}
/* #Lognav{
    border-bottom-style: solid;
    border-bottom-color: rgb(173,88,239);
    border-bottom-width: 0px; */
/* } */
/* input[type=text] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
}
input[type=password] {
    background: transparent;
    border: none;
   
} */

.msg2{
    margin-left:-40px;
    color:black;
    margin-top:20px;
}
body{
    background-color:#d2e0f5
}